In [15]:
import pandas as pd
import sklearn.metrics 
from sklearn.metrics import accuracy_score

### Prediccion

Predecir:

 - Modalidad: vendría a ser categoria

En base a:
 - X: latitud 
 - Y: longitud

In [16]:
df = pd.read_excel('./../Dataset/DATASET.xlsx')

df.iloc[0:2, :]

,layerLALAId,layerName,displayFieldName,value,OBJECTID,GENERICO,ESPECIFICO,MODALIDAD,X,Y,...,ID_ESPECIFICO,CAPITAL,CCDD,CCPP,CCDI,NOMBDEP,NOMBPROV,NOMBDIST,UBIGEO,OBJECTID_1
0,110,Hurto,UBIGEO_HECHO,150117,284505,DELITOS CONTRA EL PATRIMONIO,HURTO,HURTO,-77.077480,-11.934415,...,1049,LOS OLIVOS,15,1,17,LIMA METROPOLITANA 1/,LIMA,LOS OLIVOS,150117.0,543701.0
1,110,Hurto,UBIGEO_HECHO,150117,112844,DELITOS CONTRA EL PATRIMONIO,HURTO,HURTO,-77.073126,-11.934646,...,1049,LOS OLIVOS,15,1,17,LIMA METROPOLITANA 1/,LIMA,LOS OLIVOS,150117.0,225077.0

In [17]:
pd.DataFrame(df['MODALIDAD'].unique()).rename(columns={0:'Modalidades'})

                        Modalidades
0                             HURTO
1                    HURTO AGRAVADO
2                              ROBO
3                     ROBO AGRAVADO
4  HOMICIDIO CALIFICADO - ASESINATO
5   MICROCOMERCIALIZACION DE DROGAS

## Modelo predictivo de Naive Bayes Classifier

## Modelo predictivo de --